<h1 class="display-4">All Properties</h1>

<div class="list-group">
  <% @properties.each do |property| %>
    <a href="<%= property_path(property) %>" class="list-group-item list-group-item-action">
      <%= property.name %>
    </a>
  <% end %>
</div>


